body{
    background: url(/assets/images/fondo-vengadores.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    box-shadow: 10px 10px 700px 150px;
}