footer{
   background-image: url(/assets/images/textura-granate.jpg);
   width: 100%;
 }
 footer h3{
    margin-top: 1%;
    padding: 2%;
    font-family: MarvelType;
    text-align: right;
    color: rgb(230, 230, 230);
 }