.div-logotipo{
    float: left;
    background-color: rgb(169, 49, 49);
    width: 100% ;
}

.imagen-logo-vengadores{
    width: 20%;
    float: left;
}

.texto-cabecera{
    text-align: center;
    font-family: MarvelType;
    font-size: 8vw;
    margin-top: 5%;
}

.banner{
    background-color: black;
    float: left;
}
.banner-img{
    width: 100%;
}
#eslogan{
    font-family: MarvelType;
    text-align: center;
    font-size: 3vw;
    margin-left: 10%;
    margin-right: 10%;
}