@font-face {
    font-family: MarvelType;
    src: url('/assets/fonts/Marvel-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

.div-logotipo{
    float: left;
    background-color: rgb(169, 49, 49);
    width: 100% ;
}

.imagen-logo-vengadores{
    width: 20%;
    float: left;
}

.texto-cabecera{
    position: static;
    text-align: center;
    font-family: MarvelType;
    font-size: 8vw;
    margin: 3%;
}

.banner{
    background-color: black;
    float: left;
    
}
.banner-img{
    width: 100%;
}