main{
    background-color: black;
}
.imagen-avatar-viuda{
    background-image: url(/assets/images/viudaBN.jpg);
    background-size: 100%;
    margin: 1%;
    width: 35%;
    height: 25vw;
    display: inline-flex;
    ;
}
.imagen-avatar-ironman{
    background-image: url(/assets/images/ironmanBN.jpg);
    background-size: 100%;
    margin: 1%;
    width: 35%;
    height: 25vw;
    display: inline-flex;
}
.imagen-avatar-viuda:hover{
    background-image: url(/assets/images/viuda.jpg) ;
    background-size: 100%;
    margin: 1%;
    width: 35%;
    height: 25vw;
}
.imagen-avatar-ironman:hover{
    background-image: url(/assets/images/ironman.jpg) ;
    background-size: 100%;
    margin: 1%;
    width: 35%;
    height: 25vw;
}
#contenedor-main h2{
    font-family: MarvelType;
    background-color: white;
    margin: 3%;
    width:fit-content;
    height: fit-content;
}

#contenedor-main{
    width: 100%;
    height: 100%;
}

#herramientas{
    width: 20%;
    height: fit-content;
    background-color: rgb(169, 49, 49);
    display: block;
    float: right;
    margin: 2%;
    padding-left: 1%;
}
#herramientas h2{
    font-family: MarvelType;
    background:none;
    font-size: 2.5vw;
}
#herramientas a{
    font-family: MarvelType;
    font-size: 2vw;
    text-decoration: none;
    color: black;
}
#herramientas a:hover{
    font-family: MarvelType;
    font-size: 2vw;
    text-decoration: none;
    color: white;
}
.definicion{
    background-color: aqua;
    text-align: center;
    font-size: 2vw;
    height: fit-content;
}