@import 'reset-styles.css';
@import 'header-style.css';
@import 'body-style.css';
@import 'main-style.css';
@import 'footer-style.css';

@font-face {
    font-family: MarvelType;
    src: url('/assets/fonts/Marvel-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }